<section class="trainers-info-section card-background">
  <div class="trainer-card">
    <img src="../../../assets/trainer1.avif" alt="Trainer 1" class="trainer-photo">
    <div class="trainer-details">
      <p class="trainer-name">Mr. Venkatesh Vatsa</p>
      <p class="trainer-role">Associate VP - Learning and Talent Management</p>
    </div>
  </div>
  <div class="trainer-card">
    <img src="../../../assets/trainer2.jpg" alt="Trainer 2" class="trainer-photo">
    <div class="trainer-details">
      <p class="trainer-name">Mr. Akash Gupta</p>
      <p class="trainer-role">Associate Trainer</p>
    </div>
  </div>
</section>