<section class="feedback-header-section">
  <h1>Feedback - Behavioural Session - Day 5</h1>
  <h2>Oral Business Communication & Listening Skills- Feedback Survey</h2>
  <div class="user-guide">
    <p>Dear User! Quick Guide:</p>
    <p>You have been nominated for the **Oral Business Communication & Listening Skills** training. We sincerely ask you to take a moment to share your feedback. Your insights will help us understand your learning progress. Please take a moment to share your valuable thoughts to help us improve future programs and enhance your overall learning & development!</p>
  </div>
</section>